@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9846 0.0017 247.8389);
  --foreground: oklch(0.2809 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2809 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2809 0 0);
  --primary: oklch(0.6802 0.1902 32.0008);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9394 0.0046 258.3251);
  --secondary-foreground: oklch(0.4489 0.02 251.0512);
  --muted: oklch(0.9697 0.0017 247.8393);
  --muted-foreground: oklch(0.4999 0.0154 251.6849);
  --accent: oklch(0.9204 0.0203 238.6791);
  --accent-foreground: oklch(0.3808 0.1001 259.7551);
  --destructive: oklch(0.6509 0.2199 25.0358);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9209 0.0035 247.8607);
  --input: oklch(0.9659 0.0025 228.7842);
  --ring: oklch(0.6802 0.1902 32.0008);
  --chart-1: oklch(0.7011 0.1193 239.6974);
  --chart-2: oklch(0.7449 0.1558 32.2982);
  --chart-3: oklch(0.765 0.177 163.223);
  --chart-4: oklch(0.879 0.169 91.605);
  --chart-5: oklch(0.785 0.115 274.713);
  --sidebar: oklch(0.9757 0.0017 247.8391);
  --sidebar-foreground: oklch(0.3211 0 0);
  --sidebar-primary: oklch(0.6802 0.1902 32.0008);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9204 0.0203 238.6791);
  --sidebar-accent-foreground: oklch(0.3808 0.1001 259.7551);
  --sidebar-border: oklch(0.9106 0.006 239.8262);
  --sidebar-ring: oklch(0.6802 0.1902 32.0008);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #29303d;
  --shadow-2xs: 0px 1px 3px 0px hsl(219 19.6078% 20% / 0.05);
  --shadow-xs: 0px 1px 3px 0px hsl(219 19.6078% 20% / 0.05);
  --shadow-sm:
    0px 1px 3px 0px hsl(219 19.6078% 20% / 0.1),
    0px 1px 2px -1px hsl(219 19.6078% 20% / 0.1);
  --shadow:
    0px 1px 3px 0px hsl(219 19.6078% 20% / 0.1),
    0px 1px 2px -1px hsl(219 19.6078% 20% / 0.1);
  --shadow-md:
    0px 1px 3px 0px hsl(219 19.6078% 20% / 0.1),
    0px 2px 4px -1px hsl(219 19.6078% 20% / 0.1);
  --shadow-lg:
    0px 1px 3px 0px hsl(219 19.6078% 20% / 0.1),
    0px 4px 6px -1px hsl(219 19.6078% 20% / 0.1);
  --shadow-xl:
    0px 1px 3px 0px hsl(219 19.6078% 20% / 0.1),
    0px 8px 10px -1px hsl(219 19.6078% 20% / 0.1);
  --shadow-2xl: 0px 1px 3px 0px hsl(219 19.6078% 20% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2188 0.0148 248.507);
  --foreground: oklch(0.9189 0 0);
  --card: oklch(0.2617 0.0197 254.8441);
  --card-foreground: oklch(0.9189 0 0);
  --popover: oklch(0.2617 0.0197 254.8441);
  --popover-foreground: oklch(0.9189 0 0);
  --primary: oklch(0.6802 0.1902 32.0008);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.2988 0.0207 257.2741);
  --secondary-foreground: oklch(0.9006 0 0);
  --muted: oklch(0.2786 0.0211 257.2774);
  --muted-foreground: oklch(0.6993 0 0);
  --accent: oklch(0.3206 0.0396 254.678);
  --accent-foreground: oklch(0.8996 0.0504 251.1357);
  --destructive: oklch(0.6509 0.2199 25.0358);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3408 0.0192 251.4559);
  --input: oklch(0.3408 0.0192 251.4559);
  --ring: oklch(0.6802 0.1902 32.0008);
  --chart-1: oklch(0.7011 0.1193 239.6974);
  --chart-2: oklch(0.7449 0.1558 32.2982);
  --chart-3: oklch(0.765 0.177 163.223);
  --chart-4: oklch(0.879 0.169 91.605);
  --chart-5: oklch(0.785 0.115 274.713);
  --sidebar: oklch(0.2492 0.02 254.8597);
  --sidebar-foreground: oklch(0.9189 0 0);
  --sidebar-primary: oklch(0.6802 0.1902 32.0008);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.3206 0.0396 254.678);
  --sidebar-accent-foreground: oklch(0.8996 0.0504 251.1357);
  --sidebar-border: oklch(0.3408 0.0192 251.4559);
  --sidebar-ring: oklch(0.6802 0.1902 32.0008);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #0a0c0f;
  --shadow-2xs: 0px 1px 3px 0px hsl(216 20% 4.902% / 0.05);
  --shadow-xs: 0px 1px 3px 0px hsl(216 20% 4.902% / 0.05);
  --shadow-sm:
    0px 1px 3px 0px hsl(216 20% 4.902% / 0.1),
    0px 1px 2px -1px hsl(216 20% 4.902% / 0.1);
  --shadow:
    0px 1px 3px 0px hsl(216 20% 4.902% / 0.1),
    0px 1px 2px -1px hsl(216 20% 4.902% / 0.1);
  --shadow-md:
    0px 1px 3px 0px hsl(216 20% 4.902% / 0.1),
    0px 2px 4px -1px hsl(216 20% 4.902% / 0.1);
  --shadow-lg:
    0px 1px 3px 0px hsl(216 20% 4.902% / 0.1),
    0px 4px 6px -1px hsl(216 20% 4.902% / 0.1);
  --shadow-xl:
    0px 1px 3px 0px hsl(216 20% 4.902% / 0.1),
    0px 8px 10px -1px hsl(216 20% 4.902% / 0.1);
  --shadow-2xl: 0px 1px 3px 0px hsl(216 20% 4.902% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
